<h2>New <%= @mode %> item</h2>
<form method="post" action="/combined/<%= @mode %>/new">

  <dl>
    <dt>
      <label for="category">category:</label>
    </dt>
    <dd>
      <input name="category" placeholder="Category" type="text" value="">
    </dd>
    <div id="note">Note: using an existing category name will overwrite that category.</div>

    <dt>
      <label for="category">amount:</label>
    </dt>
    <dd>
      <input name="amount" placeholder="0" type="number" value="">
    </dd>

  </dl>

  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/combined">Cancel</a>
  </fieldset>
</form>