<h2>Create new <%= @mode %> item</h2>
<form method="post" action="/<%= @mode %>/new">

  <dl>
    <dt>
      <label for="category">category:</label>
    </dt>
    <dd>
      <input name="category" placeholder="Category" type="text" value="">
    </dd>

    <dt>
      <label for="category">amount:</label>
    </dt>
    <dd>
      <input name="amount" placeholder="0" type="number" value="">
    </dd>

  </dl>

  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/">Cancel</a>
  </fieldset>
</form>