a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  padding: 10px;
}

body < header {
  grid-area: header;
}

div.actions {
  padding-left: 10px;
}

div.flash {
  grid-area: flash;
}

body < main#content {
  grid-area: content;

}

div#frame {
  display: grid;
  grid-template-areas: "header"
                       "flash"
                       "content"
                       "footer";
  grid-template-rows: 20% 15% 55% 10%;
  grid-row-gap: 20px;

}

footer {
  grid-area: footer;
}

h1 {
  font-size: 24px;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

tr, td {
  padding: 10px 10px 10px 5px;
  border-bottom: 1px solid black;
}