a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  padding: 10px;
}

div#frame {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 20% 15% 65%;
  grid-template-areas: "header header header"
                       "flash flash flash"
                       "glance pie pie";
  grid-row-gap: 20px;
}

body > header {
  background-color: green;
  grid-area: header;
}

div.flash {
  grid-area: flash;
  background-color: orange;
  background-color: #8aacfc;
}

div.chart {
  grid-area: pie;
  background-color: blue;
  margin: 10px;
  padding: 20px;
  max-width: 35%;
}

body < main#content {
  grid-area: glance;
  background-color: yellow;
}

body > header .actions a.add:before {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 7px 0 0;
  vertical-align: -6px;
  content: "";
  background: transparent url("../images/icon_add.png") 0 0 no-repeat;
  -webkit-transition: transform 200ms linear;
  -moz-transition: transform 200ms linear;
  -o-transition: transform 200ms linear;
}

body > header .actions a.add:hover:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

div.actions {
  padding-left: 10px;
}

h1 {
  font-size: 24px;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

table {
  border-top: 1px solid black;
}

tr, td {
  padding: 10px 10px 10px 5px;
  border-bottom: 1px solid black;
}