a.add {
  padding-left: 20px;
}

.center_container {
  margin: 0 auto;
}

body {
  padding: 10px;
  margin: 0 auto;
  width: 50%;
  align-items: center;
  justify-content: center;
}

div.actions {
  padding: 0;
  margin: 0;
  max-height: 60px;
}

div.table_header {
  display: flex;
}

div.wrapper {
  display: grid;
  grid-template-rows: 15% 10% auto;
  grid-template-columns: auto 65% auto;
  grid-template-areas: "header header header"
                       "flash flash flash"
                       "main main main";
  padding: 0;
  margin: 0;
}

header {
  grid-area: header;
  padding: 0;
}

body > div.flash {
  grid-area: flash;
  padding: 0;
  margin: 0 auto;
}

.flash-message {
  font-size: 20px;
  background-color: #71c6f7;
  min-width: 300px;
}

div#mode {
  font-size: 20px;
  margin: 0;
  width: 15em;
  padding: 0;
}

#spending, #income {
}

#pie {

}

h1 {
  font-size: 32px;
  padding: 0.2em 0em 0.4em 0em;
}

h2 {
  font-size: 20px;
  padding: .3em 0em .2em 0em;
}

main {
  grid-area: main;
}

main#content {
  border: blue;
  min-width: 500px;
}

table {
  border-top: 1px solid black;
  padding-bottom: 20px;
}

tr, td {
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid black;
}